@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap');

:root {
  --default-font-family: 'Nunito', sans-serif;
  --off-white: #FAF4DD;
  --pink: #FB9E82;
  --green: #2E5D52;
  --dark-green: #0F1D18;
  --black: #000000;
  --small-font-size: 0.8rem;
  --medium-font-size: 1.4rem;
  --large-font-size: 4.0rem;
}

/* MAIN */
body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.container-padding {
  padding-left: 5vw;
  padding-right: 5vw;
}

.flex-row, .flex-col {
  display: flex;
  max-height: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-100 {
  flex: 0 0 100%;
}

.flex-95 {
  flex: 0 0 95%;
}

.flex-90 {
  flex: 0 0 90%;
}

.flex-80 {
  flex: 0 0 80%;
}

.flex-70 {
  flex: 0 0 70%;
}

.flex-50 {
  flex: 0 0 50%;
}

.flex-30 {
  flex: 0 0 30%;
}

.flex-20 {
  flex: 0 0 20%;
}

.flex-10 {
  flex: 0 0 10%;
}

.flex-05 {
  flex: 0 0 5%;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.height-80 {
  height: 80%;
}

.height-70 {
  height: 70%;
}

.height-50 {
  height: 50%;
}

.height-30 {
  height: 30%;
}

.height-20 {
  height: 20%;
}

.overflow-auto {
  overflow: auto;
}

.pink-bg {
  background-image: url('../assets/backgrounds/pink-bg.png');
}

.pink-grainy-bg {
  background-image: url('../assets/backgrounds/pink-grainy-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.black-bg {
  background-color: var(--black);
}

.off-white-bg {
  background-image: url('../assets/backgrounds/off-white-bg.png');
}

.ow-to-ow-bg {
  background-image: url('../assets/backgrounds/ow-to-ow-bg.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
}

.ow-to-bk-bg {
  background-image: url('../assets/backgrounds/ow-to-bk-bg.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
}

.bk-to-ow-bg {
  background-image: url('../assets/backgrounds/bk-to-ow-bg.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
}

/* TEXT */
p {
  margin: 0;
  margin-bottom: 2rem;
  text-align: justify;
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.light-text {
  color: var(--off-white);
}

.pink-text {
  color: var(--pink);
}

.small-text {
  font-size: var(--small-font-size);
}

.medium-text {
  font-size: var(--medium-font-size);
}

.large-text {
  font-size: var(--large-font-size);
}

.large-font-weight {
  font-weight: 800;
}

.text-padding-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.text-padding-20 {
  padding-left: 20%;
  padding-right: 20%;
}

/* TITLE CONTAINER */
#title-container {
  display: flex;
  justify-content: center;
}

#title {
  position: absolute;
  color: var(--off-white);
  font-family: var(--default-font-family);
  font-size: min(4vw, var(--large-font-size));
  font-weight: 800;
  margin-top: 30vh;
  z-index: 5;
}

#city {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background-image: url('../assets/title/city.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
  z-index: 2;
}

#cathedral {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
  background-image: url('../assets/title/cathedral.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  z-index: 4;
}

#day-sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/title/day-sky.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

#sun {
  position: absolute;
  top: 5vh;
  left: 15vh;
  width: 100%;
  height: 20vh;
  background-image: url('../assets/title/sun.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  z-index: 2;
}

.cloud {
  position: absolute;
  z-index: 2;
}

.cloud img {
  height: 100%;
  width: auto;
}

#cloud1 {
  top: 10%;
  left: 30%;
  height: 5vh;
  animation: moveCloud1 300s linear infinite;
}

@keyframes moveCloud1 {
  0% {
    left: 30%;
  }
  50% {
    left: calc(100% - 436px)
  }
}

#cloud2 {
  top: 20%;
  left: 0%;
  height: 5vh;
  animation: moveCloud2 240s linear infinite;
}

@keyframes moveCloud2 {
  0% {
    left: 0%;
  }
  50% {
    left: calc(70% - 359px)
  }
}

#cloud3 {
  top: 40%;
  left: 80%;
  height: 5vh;
  animation: moveCloud3 360s linear infinite;
}

@keyframes moveCloud3 {
  0% {
    left: 80%;
  }
  50% {
    left: 0%;
  }
}

/* TITLE TO P1 CONTAINER */
#title-to-p1-container {
  background-image: url('../assets/backgrounds/title-to-p1-bg.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
}

/* P1 TO P2 CONTAINER */
#p1-to-p2-container {
  background-image: url('../assets/backgrounds/p1-to-p2-bg.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
}

/* P2 CONTAINER */
#circle-packing-plot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*P2 TO P3 CONTAINER */

/* P3 CONTAINER */
#hierarchy-plot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hierarchy-minimap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* P3 TO FINAL CONTAINER */
#p-to-final-container {
  background-image: url('../assets/backgrounds/p-to-final-bg.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
}

/* P4 CONTAINER */
#bar-container-plot, #hourly-bar-chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hourly-bar-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

#hourly-bar-buttons > button {
  background-color: var(--green);
  color: var(--off-white);
  font-size: var(--medium-font-size);
  padding: 15px;
  margin: 0 1%;
  border-radius: 10px;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  border-color: var(--dark-green);
  cursor: pointer;
}

#hourly-bar-buttons > button:hover {
  background-color: var(--dark-green);
  transition: 0.2s;
}

#hourly-bar-buttons > button:active {
  background-color: var(--dark-green);
  color: var(--off-white);
  font-size: var(--medium-font-size);
  padding: 15px;
  margin: 0 1%;
}

/* FINAL CONTAINER */
#final-container {
  display: flex;
  justify-content: center;
}

#maintainers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  font-size: min(2vw, 20px);
  margin-top: 50vh;
  z-index: 5;
}

.github-link {
  color: #9933a4
}

.github-link:hover {
  color: var(--off-white);
}

#maintainers-github {
  display: flex;
  justify-content: center;
  align-items: center;
}

#night-sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/title/night-sky.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

#moon {
  position: absolute;
  top: 5vh;
  left: 15vh;
  width: 100%;
  height: 20vh;
  background-image: url('../assets/title/moon.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  z-index: 2;
}

#night-bridge {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background-image: url('../assets/title/night_bridge.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
  z-index: 2;
}

#night-mountain-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 37vh;
  background-image: url('../assets/title/night_mountain_left.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  z-index: 4;
}

#night-mountain-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 37vh;
  background-image: url('../assets/title/night_mountain_right.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  z-index: 4;
}